{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Check-in Page! :)</h1>
    <p class="lead">Good morning, are you ready to checking and have fun?</p>
    <hr class="my-4">
    <p>Please checkin by entering your name here</p>

    <form action="/checkin" method='POST'>
        <input type="text" name="student_name"> 
        <button type='submit' class="btn btn-lg btn-danger">Check In Now!</button>
    </form>

    <a class="btn btn-primary btn-lg" href="/" role="button">Back To Homepage</a>
</div>

{% endblock %}